html { direction: rtl; }
body { direction: rtl; }
th { text-align: right; }

.comment .title {
	padding: 10px 19px 12px 0;
	background: transparent url(../images/all/icon-comment_rtl.png) right center no-repeat !important;
}
.comment .new, .by { float: left; }
.node .picture, .comment .picture {
	float: left;
	padding: 0 .5em .5em 0;
}
.logoimg { float: right; }
#top-elements {
	float: left;
	text-align: left;
}
.divider {
	border-left: none !important;
	border-right: 1px dashed #ddd;
}
#breadcrumb { padding-right: 20px; }
#forum td.container { background: #cdcdcd url(../images/all/forum-container_rtl.jpg) left top no-repeat !important; }
#forum td.container .name a {
	padding: 10px 40px 10px 0;
	background: transparent url(../images/all/forum-link_rtl.png) right center no-repeat !important;
}
#node-middle {
	margin-right: 10px;
	margin-left: 10px;
	float: right;
}
.node .image-attach-teaser,
.all-attached-images img {
	float: right;
	margin: 0 0 .6em .6em;
}
.page-admin-build-themes-settings-zeropoint .fieldset-wrapper,
html.js fieldset.collapsible .collapse-processed a {
	padding-right: 2em;
}

/* MENU & link STYLES */
ul li.collapsed { list-style-image: url(../images/all/menu-collapsed_rtl.png) !important; }
ul.links li {
	border-left: none !important;
	border-right: 1px solid #d3d3d3;
}
.pure-menu-heading { float: right; margin: 0 18px 0 0; }
.menu-toggle { float: left; margin: 0 0 0 18px; }
.menu-toggle .bars { right: .5em; }
.pure-menu-link { text-align: right; }
.pure-menu-children .pure-menu-children {
	left: auto;
	right: 100%;
	box-shadow: -1px 5px 5px #999;
}
.pure-menu-has-children > .pure-menu-link:after {
	margin: 0 0 0 -.8em !important;
	padding-left: 0;
	padding-right: .5em;
}
.pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after { content: "\25C2"; }

/* ROUNDED CORNERS */
.rnd .pure-paginator .first { border-radius: 0px 6px 6px 0px; }
.rnd .pure-paginator .last { border-radius: 6px 0px 0px 6px; }

/* BLOCK ICONS */

.bi32 .block-icon { margin: -5px -5px 0 0; }
.bi48 .block-icon { margin: -15px -18px 0 0; }
.bi32 .themed-block .title, .bi48 .themed-block .title {
	text-align: left;
	padding: 6px 28px 6px 6px;
}

/* PAGE ICONS */

.pi .upload_attachments a {
	background: url(../images/all/icons/attach.png) no-repeat right;
	padding: 0 20px 0 0;
}
.pi .print-page, .pi .print-mail, .pi .print-pdf {
	margin: 0 5px 0 0;
	padding: 0 20px 0 0;
}
.pi .print-page {
	background: url(../images/all/icons/printer.png) no-repeat right center;
}
.pi .print-mail {
	background: url(../images/all/icons/email.png) no-repeat right center;
}
.pi .print-pdf {
	background: url(../images/all/icons/pdf.png) no-repeat right center;
}
.pi .terms li.first, .pi .terms ul.taxonomy {
	background: url(../images/all/icons/tag.png) no-repeat right top;
	padding: 0 20px 0 0;
}
.pi #sidebar-left a.active, .pi #sidebar-right a.active {
	background: url(../images/all/icons/check_rtl.png) no-repeat left center;
	padding-left: 20px !important;
	padding-right: 0;
}
.pi .comment_comments a {
	background: url(../images/all/icons/comments.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment_delete a {
	background: url(../images/all/icons/trash.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment_edit a {
	background: url(../images/all/icons/edit.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment_reply a {
	background: url(../images/all/icons/reply.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .book_add_child a {
	background: url(../images/all/icons/page-add.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .comment_add a {
	background: url(../images/all/icons/comment.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .node_read_more a {
	background: url(../images/all/icons/read_more_rtl.png) no-repeat right center;
	padding: 0 17px 0 0;
}
.pi .more-link a {
	background: url(../images/all/icons/more_rtl.png) no-repeat right -1px;
	padding: 0 20px 0 0;
}
.pi .blog_usernames_blog a,
.pi li.uin {
	background: url(../images/all/icons/user_green.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi li.uout {
	background: url(../images/all/icons/key_delete.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi li.ulog, .pi li.comment_forbidden a {
	background: url(../images/all/icons/key_add.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi li.ureg {
	background: url(../images/all/icons/user-multiple.png) no-repeat right center;
	padding: 0 20px 0 4px;
}


/* media screens (35.5 & 48 em) */

@media screen and (max-width: 48em) {
	.ml #submenu,	.mc #submenu {
		text-align: right;
	}
	.pure-menu-allow-hover:hover > .pure-menu-children {
		right: 0;
		padding: 0 1em 0 0;
	}
	.logomob {
		float: right;
		margin: -0.4em 0 0 .5em;
	}
}
